<div class="mobile-only">
  <div class="back-to-top">
    <div class="back-to-top-button">
      <a href="https:{{ .Site.Params.whatsapp }}">Whatsapp</a>
    </div>
  </div>
  <div class="back-to-bottom">
    <div class="back-to-top-button-2">
      <a href="tel:{{ .Site.Params.telepon }}">Telepon</a>
    </div>
  </div>
</div>
<div class="desktop-tablet-only">
  <div class="back-to-top-desktop">
    <a href="https:{{ .Site.Params.whatsapp }}"><i class="fab fa-whatsapp"></i></a>
  </div>
  <div class="back-to-top-kiri">
    <a href="tel:{{ .Site.Params.telepon }}"><i class="fas fa-phone"></i></a>
  </div>
</div>