{{ with .Get "table" }}
  {{ if eq . "table1" }}
    <table>
      <thead>
        <tr>
          <th>Mutu Beton</th>
          <th>Harga per m³ (Rp)</th>
          <th>Aplikasi Utama</th>
        </tr>
      </thead>
      <tbody>
        {{ range $.Site.Params.tabelItems }}
        <tr>
          <td>{{ .name }}</td>
          <td>{{ .price }}</td>
          <td>{{ index $.Site.Params.appliList .name }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  {{ else if eq . "table2" }}
    <table>
      <thead>
        <tr>
          <th>Mutu Beton</th>
          <th>Harga per m³ (Rp)</th>
          <th>Kegunaan Utama</th>
        </tr>
      </thead>
      <tbody>
        {{ range $.Site.Params.tabelItems }}
        <tr>
          <td>{{ .name }}</td>
          <td>{{ .price }}</td>
          <td>{{ index $.Site.Params.kegunaanList .name }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  {{ else if eq . "table3" }}
    <table>
      <thead>
        <tr>
          <th>Jenis Concrete Pump</th>
          <th>Harga Sewa per Hari (Rp)</th>
        </tr>
      </thead>
      <tbody>
        {{ range $.Site.Params.pumpItems }}
        <tr>
          <td>{{ .type }}</td>
          <td>{{ .price }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  {{ else }}
    <p>Invalid table selection.</p>
  {{ end }}
{{ end }}
